<%= form_for(@announce_c) do |f| %>
  <% if @announce_c.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announce_c.errors.count, "error") %> prohibited this announce_c from being saved:</h2>

      <ul>
      <% @announce_c.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :square %><br />
    <%= f.text_field :square %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :settlement %><br />
    <%= f.text_field :settlement %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :rent %><br />
    <%= f.text_field :rent %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :manager_id %><br />
    <%= f.number_field :manager_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
