<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @announce_c.name %>
</p>

<p>
  <b>Type:</b>
  <%= @announce_c.type %>
</p>

<p>
  <b>Square:</b>
  <%= @announce_c.square %>
</p>

<p>
  <b>Region:</b>
  <%= @announce_c.region %>
</p>

<p>
  <b>Area:</b>
  <%= @announce_c.area %>
</p>

<p>
  <b>City:</b>
  <%= @announce_c.city %>
</p>

<p>
  <b>Settlement:</b>
  <%= @announce_c.settlement %>
</p>

<p>
  <b>Action:</b>
  <%= @announce_c.action %>
</p>

<p>
  <b>Rent:</b>
  <%= @announce_c.rent %>
</p>

<p>
  <b>Price:</b>
  <%= @announce_c.price %>
</p>

<p>
  <b>Owner:</b>
  <%= @announce_c.owner %>
</p>

<p>
  <b>Manager:</b>
  <%= @announce_c.manager_id %>
</p>


<%= link_to 'Edit', edit_announce_c_path(@announce_c) %> |
<%= link_to 'Back', announce_cs_path %>
