<% provide(:title, @user.name) %>
<center><h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1></center>



<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Pass:</b>
  <%= @user.pass %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
