<h1>Listing announce_is</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Region</th>
    <th>Area</th>
    <th>City</th>
    <th>Settlement</th>
    <th>Status</th>
    <th>Floor all</th>
    <th>Floor num</th>
    <th>Price</th>
    <th>Fact price</th>
    <th>Ob</th>
    <th>Jil</th>
    <th>Ku</th>
    <th>Action</th>
    <th>Manager</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @announce_is.each do |announce_i| %>
  <tr>
    <td><%= announce_i.name %></td>
    <td><%= announce_i.owner %></td>
    <td><%= announce_i.region %></td>
    <td><%= announce_i.area %></td>
    <td><%= announce_i.city %></td>
    <td><%= announce_i.settlement %></td>
    <td><%= announce_i.status %></td>
    <td><%= announce_i.floor_all %></td>
    <td><%= announce_i.floor_num %></td>
    <td><%= announce_i.price %></td>
    <td><%= announce_i.fact_price %></td>
    <td><%= announce_i.OB %></td>
    <td><%= announce_i.Jil %></td>
    <td><%= announce_i.KU %></td>
    <td><%= announce_i.action %></td>
    <td><%= announce_i.manager_id %></td>
    <td><%= link_to 'Show', announce_i %></td>
    <td><%= link_to 'Edit', edit_announce_i_path(announce_i) %></td>
    <td><%= link_to 'Destroy', announce_i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Announce i', new_announce_i_path %>
