<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @announce_i.name %>
</p>

<p>
  <b>Owner:</b>
  <%= @announce_i.owner %>
</p>

<p>
  <b>Region:</b>
  <%= @announce_i.region %>
</p>

<p>
  <b>Area:</b>
  <%= @announce_i.area %>
</p>

<p>
  <b>City:</b>
  <%= @announce_i.city %>
</p>

<p>
  <b>Settlement:</b>
  <%= @announce_i.settlement %>
</p>

<p>
  <b>Status:</b>
  <%= @announce_i.status %>
</p>

<p>
  <b>Floor all:</b>
  <%= @announce_i.floor_all %>
</p>

<p>
  <b>Floor num:</b>
  <%= @announce_i.floor_num %>
</p>

<p>
  <b>Price:</b>
  <%= @announce_i.price %>
</p>

<p>
  <b>Fact price:</b>
  <%= @announce_i.fact_price %>
</p>

<p>
  <b>Ob:</b>
  <%= @announce_i.OB %>
</p>

<p>
  <b>Jil:</b>
  <%= @announce_i.Jil %>
</p>

<p>
  <b>Ku:</b>
  <%= @announce_i.KU %>
</p>

<p>
  <b>Action:</b>
  <%= @announce_i.action %>
</p>

<p>
  <b>Manager:</b>
  <%= @announce_i.manager_id %>
</p>


<%= link_to 'Edit', edit_announce_i_path(@announce_i) %> |
<%= link_to 'Back', announce_is_path %>
